
body {
    background: rgb(214, 215, 218);
}

button:hover {
    cursor: pointer;
}

h5 {
    font-weight: 500;
}

input {
    border: none;
}

input::placeholder {
    color: black;
}

input:focus {
    outline: none;
}

#root {
    display: grid;
    grid-template-columns: 20% 80%;
    border-radius: 30px;
    overflow: hidden;
}

#sideBar {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
    align-items: center;
    justify-content: space-between;
}

#search-container {
    display: flex;
}

#forecast-period-container {
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.period-title {
    background: none;
    border: none;
    border-bottom: 2px solid black;
}

.weather-type-button {
    background: #fff;
    border-radius: 100%;
}

#content {
    background: rgb(246, 246, 248);
}

.title {
    padding-left: 15px;
}

#weeks-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.card {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#highlights-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
}

.highlight {
    display: flex;
    flex-direction: column;
    align-items: center;
}